[submodule "zku-cohort-3-week1"]
	path = zku-cohort-3-week1
	url = https://github.com/nobutoba/zku-cohort-3-week1.git
[submodule "zku-cohort-3-week2"]
	path = zku-cohort-3-week2
	url = https://github.com/nobutoba/zku-cohort-3-week2.git
[submodule "zku-cohort3-week3"]
	path = zku-cohort3-week3
	url = https://github.com/nobutoba/zku-cohort3-week3.git
[submodule "zku-cohort-3-week3"]
	path = zku-cohort-3-week3
	url = https://github.com/nobutoba/zku-cohort-3-week3.git
[submodule "zku-cohort-3-week4"]
	path = zku-cohort-3-week4
	url = https://github.com/nobutoba/zku-cohort-3-week4.git
